*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: bebas-kai, sans-serif;
}

@font-face {
  font-family: "bebas-kai" ;
  src: url(https://use.typekit.net/ime0bdu.css);
}

header{
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 20px;
}

#logo{
  margin: auto;
  max-width: 250px;
}

.search-container{
  display: flex;
  width: max-content;
  position: relative;
  align-items: center;
  margin: auto;
  border-radius: 40px;
  height: 40px;
  padding: 5px 10px;
  background-color: #fff;
  border: 3px solid #dc1a28;
}

#search-inp{
  border: 0;
  width: calc(100% - 40px);
  outline: none;
}

#search-btn{
  background-color: #dc1a28;
  border: 0;
  height: 50px;
  width: 50px;
  position: absolute;
  right: -3px;
  border-radius: 50%;
  font-size: medium;
  cursor: pointer;
  outline: none;
}

main{
  background-color: #000;
  min-height: calc(100vh - 103px);
  text-align: center;
}

h2{
  color: #fff;
  text-transform: capitalize;
  padding: 20px 0;
}

.film-container,
.tv-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.alert{
  text-align: center;
  width: 50%;
  margin: 20px auto;
  padding: 30px 0;
  border-radius: 40px;
  background-color: #dc1a28;
}

.poster{
  width: 185px;
  height: 250px;
}

.elem{
  width: 185px;
  height: 250px;
  margin: 10px;
  position: relative;
  box-shadow: -5px -4px 5px -1px #dc1a28;
}

.info{
  display: none;
  width: 100%;
  height: 250px;
  overflow: auto;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  padding: 5px;
}

.elem:hover .info{
  display: block;
  background-color: #000;
}

.info-item{
  color: #dc1a28;
  padding: 5px 0;
  text-transform: capitalize;
}

.info-item.title{
  text-align: center;
  font-weight: bold;
  padding: 5px 0 15px 0;
}

.info-item span{
  color: #fff;
}

.star{
  color: #ffff00;
}

p.message{
  align-self: flex-end;
  display: block;
  width: 180px;
  text-align: center;
  margin: 15px;
  padding: 10px;
  background-color: #dc1a28;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 835px){
  .film-container,
  .tv-container{
    width: 90%;
    margin: auto;
    
  }
}

@media screen and (max-width: 700px){
  .film-container,
  .tv-container{
    justify-content: center;
  }
}