*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container{
  display: flex;
  width: max-content;
  align-items: center;
}

/* .search-bar{
  width: 100%;
  margin: 0 ;
  border: 0;
}

.search-bar:focus{
  outline: none;
} */

.elem-container{
  overflow-x: auto;
}

.film-container,
.tv-container{
  width: 100%;
  height: 100%;
}

.film-container::after,
.tv-container::after{
  content: "";
  display: table;
  clear: both;
}

.poster{
  width: 185px;
  height: 250px;
}

.elem{
  float: left;
  width: 185px;
  height: 250px;
  margin: 10px;
  position: relative;
}

.info{
  display: none;
  width: 100%;
  height: 250px;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
}

.elem:hover .info{
  display: block;
  background-color: #000;
}

p.message{
  float: left;
  margin: 15px;
  padding: 10px;
  background-color: red;
}
